/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Variables */

:root {
    --main-color: #f8d92b;
    --trans-color: #fddd33;
    --sub-color: #000205;
}

/* End Variables */

/* Start Components */
/* End Components */

/* Start Header */

header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

header .logo {
    font-size: 30px;
    color: var(--main-color, #f8d92b);
    font-weight: 700;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li a {
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-color, #f8d92b);
}

header nav ul li:last-of-type {
    margin-left: 20px;
}

header nav ul li i {
    color: var(--main-color, #f8d92b);
    font-size: 20px;
    cursor: pointer;
}

/* End Header */