/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Variables */

:root {
    --main-color: #f8d92b;
    --trans-color: #fddd33;
    --sub-color: #000205;
}

/* End Variables */

/* Start Components */

a.button {
    display: block;
    text-decoration: none;
    background-color: var(--main-color, #f8d92b);
    width: fit-content;
    text-transform: capitalize;
    color: white;
    padding: 15px 40px 15px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

a.button:hover {
    box-shadow: 0px 6px 10px -1px rgb(0 0 0 / 17%)
}

a.button::after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    position: absolute;
    right: 20px;
}

/* End Components */

/* Start Header */

header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
}

header .logo {
    font-size: 30px;
    color: var(--main-color, #f8d92b);
    font-weight: 700;
}

@media (max-width: 992px) {
    header nav {
        display: none;
    }
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li a {
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-color, #f8d92b);
}

header nav ul li:last-of-type {
    margin-left: 20px;
}

header nav ul li i {
    color: var(--main-color, #f8d92b);
    font-size: 20px;
    cursor: pointer;
}

header img {
    width: 50px;
    display: none;
}

@media (max-width: 991px) {
    header img {
        display: block;
    }
}

/* End Header */

/* Start Landing */

.landing {
    display: flex;
    align-items: center;
    position: relative;
    top: 50px;
}

.landing .shape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35px;
}

@media (max-width: 768px) {
    .landing .shape {
        display: none;
    }
}

.landing .shape div {
    margin-bottom: 20px;
}

.landing .shape .number {
    color: #464646;
}

.landing .shape div:not(div.number) {
    background-color: var(--main-color, #f8d92b);
    width: 2px;
    height: 160px;
}

.landing .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .landing .content {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .landing .content {
        flex-direction: column;
    }
}

.landing .content img {
    width: 300px;
    margin-right: 20px;
}

@media (min-width: 991px) {
    .landing .content img {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .landing .content img {
        width: 250px;
    }
}

@media (max-width: 576px) {
    .landing .content img {
        width: 100%;
        margin-bottom: 30px;
    }
}

.landing .content .text {
    width: 50%;
}

@media (max-width: 576px) {
    .landing .content .text {
        width: 100%;
    }
}

.landing .content .text h1 {
    font-size: 40px;
    color: var(--sub-color, #000205);
}

.landing .content .text p {
    color: var(--sub-color, #000205);
    margin: 35px 0 50px;
}

@media (max-width: 576px) {
    .landing .content .text a {
        margin: auto;
    }
}

.landing .content .text nav {
    margin: 50px 0 0;
    display: flex;
}

@media (max-width: 576px) {
    .landing .content .text nav {
        justify-content: center;
    }
}

.landing .content .text nav .icon {
    margin-right: 10px;
    background-color: var(--main-color, #f8d92b);
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.landing .content .text nav .icon:hover {
    background-color: #585858;
    color: white;
}

/* End Landing */

/* Start About us */

.about {
    margin-top: 80px;
    background-color: #f8faf9;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .about .container {
        flex-direction: column;
    }
}

.about .container .text {
    color: var(--sub-color, #000205);
    flex-basis: 80%;
}

.about .container .text h3 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.about .container .text p {
    line-height: 1.5;
    margin-bottom: 40px;
}

.about .container .text a.button {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 15px 40px 15px 25px;
}

.about .container .image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about .container .image img {
    width: 450px;
}

@media (max-width: 991px) {
    .about .container .image img {
        width: 330px;
    }
}

@media (max-width: 768px) {
    .about .container .image img {
        width: 100%;
    }
}

/* End About us */

/* Start Practice Areas */

.practice {
    padding-top: 70px;
    padding-bottom: 70px;
}

.practice .container .title {
    text-align: center;
    margin-bottom: 200px;
}

@media (max-width: 991px) {
    .practice .container .title {
        margin-bottom: 150px;
    }
}

.practice .container .title p {
    color: var(--trans-color, #fddd33);
    font-size: 16px;
    font-weight: 600;
}

.practice .container .title h3 {
    font-size: 28px;
    font-weight: 600;
}

.practice .container .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.practice .container .items .item {
    flex-basis: 23%;
    margin: 0 15px 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
}

.practice .container .items .item:hover {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
}

@media (max-width: 991px) {
    .practice .container .items .item {
        flex-basis: 32%;
    }
}

.practice .container .items .item .image {
    background-color: #363636;
    width: 225px;
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
}

.practice .container .items .item:hover .image {
    background-color: var(--main-color, #f8d92b);
}

.practice .container .items .item .image img {
    max-width: 100%;
}

.practice .container .items .item h4 {
    margin-top: 25px;
    font-size: 24px;
}

.practice .container p {
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 16px;
    color: var(--sub-color, #000205);
}

.practice .container a.button {
    margin: auto;
    padding: 15px 40px 15px 25px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

/* End Practice Areas */

/* Start Blog */

.blog {
    background-color: #f8faf9;
    display: flex;
}

.blog .text {
    color: var(--sub-color, #000205);
    padding: 90px 60px;
}

@media (max-width: 768px) {
    .blog .text {
        padding: 90px 25px;
    }
}

.blog .text h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 45px;
}

.blog .text .content {
    margin-bottom: 20px;
}

.blog .text .content h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.blog .text .content p {
    line-height: 1.5;
}

.blog .text a {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 15px 40px 15px 25px;
}

.blog img {
    width: 40%;
}

@media (max-width: 991px) {
    .blog img {
        display: none;
    }
}

/* End Blog */